{% extends 'base_website.html' %}
{% load i18n static solo_tags %}
{% get_solo 'website.SiteConfiguration' as site_config %}
{% block content %}
    <h1 class="cover-heading">Registro</h1><br>
    <div class="text-left">
    <form action="." method="post">
    {% csrf_token %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-10">
                <label for="id_subdomain">Subdominio</label>
                <input required class="form-control" name="subdomain" id="id_subdomain" placeholder="">
                <small>* {% trans 'Nombre sin espacios ni caracteres especiales' %}</small>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-10">
                <label for="id_email">Email</label>
                <input required class="form-control" type="email" name="email" id="id_email">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-10">
                <label for="id_password">Contraseña</label>
                <input required class="form-control" type="password" name="password" id="id_password">
            </div>
        </div>
        <br>
        <div class="row">
            <div class=" col-lg-12 text-right">
                <a href="/">Regresar</a>
            <input class="btn btn-success" type="submit" value="Enviar">
            </div>
        </div>
    </form>
    </div>
{% endblock content %}